<div class="center hero-unit">
  <h1>Угадай число!</h1>

  <h2>
    Испытай судьбу и свои аналитические способности
  </h2>

  <%= link_to "Зарегистрироваться сейчас!", '#', class: "btn btn-large btn-primary" %>
</div>