<footer class="footer">
  <small>
    <p>&copy;  2013 Rezerbit</p>
  </small>
  <nav>
    <ul>
      <li> <%= link_to "Я на GitHub", "https://github.com/rezerbit/" %> </li>
    </ul>
  </nav>
</footer>